body{
    padding: 100px;
}
.container
{
    width: 100px;
}
.submit-area

{
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction_area
{
    display: none;
}


.deposit
{
    background-color: slateblue;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
   
    

}
.withdraw
{
    background-color: lightsalmon;

    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
}
.balance
{
    background-color: orange;
    margin: 0 20px;
    border-radius: 10px;
    padding: 10px;
   

}
